import groovy.json.JsonSlurper

def JsonSlurper = new JsonSlurper()
def azure_config = JsonSlurper.parse(new File("./credentials.json"))

process.container = 'nextflow/rnaseq-nf'

profiles {
  az_test {
    params {
      file = ''  
      outdir = '' 
    }

    process {
      executor = 'azurebatch'
    }

    azure {
      managedIdentity {
        clientId = ''  
      }

      storage {
        accountName = azure_config["storageAccountName"]
      }

      batch {
        location = 'northeurope'
        accountName = azure_config["batchAccountName"]
        autoPoolMode = true
        allowPoolCreation = true
        pools {
          auto {
            autoScale = true
            vmType = 'Standard_D8_v3'
            maxVmCount = 10
            virtualNetwork = ''  
            identity {
              type = 'UserAssigned'
              userAssignedIdentities = [
                ''  
              ]
            }
          }
        }
      }
    }
  }

  local {
    docker.enabled = true
  }
}
